name: Java CI

on: 
   push:
    branches: [main, flexible, lombok]
   pull_request:
    branches: [flexible, lombok]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'
        distribution: 'adopt'
    
    - name: Build with Maven
      run: mvn -B -e verify
